@media (--small-viewport) {
    font-size: 12px;
    /* styles for small viewport */
}

.primary {
    color: $colors.primary;
}

@keyframes MyAnimation {
    0% {
        left: 0;
    }
    50% {
        left: 200px;
    }
    100% {
        left: 20px;
    }
}